/Tutorial8/nbproject/private/
/Tutorial8/build/
/Assignment/nbproject/private/
/Assignment/build/
/Tutorial 9/nbproject/private/
/Tutorial 9/build/
Assignment/log.txt
.vscode/settings.json
/Demo/nbproject/private/
/Demo/build/